[Unit]
Description=Caddy Local Routing Proxy
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/caddy:latest
AutoUpdate={{ caddy_autoupdate | default('registry') }}
ContainerName=caddy
Network={{ network_name }}
PublishPort=80:80
Volume={{ caddy_file_path }}:/etc/caddy/Caddyfile:Z

Label=homepage.group="Infrastructure"
Label=homepage.name=Caddy
Label=homepage.icon=caddy.png
Label=homepage.description="Reverse proxy"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
