[Unit]
Description=Caddy Local Routing Proxy
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/caddy:latest
ContainerName=caddy
Network={{ network_name }}
PublishPort=80:80
Volume={{ caddy_file_path }}:/etc/caddy/Caddyfile:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
