title: Homelab
description: Local service dashboard
theme: dark
color: slate
headerStyle: boxedWidgets
statusStyle: dot
target: _blank
disableUpdateCheck: true
hideVersion: true
disableIndexing: true

layout:
  Inference:
    style: row
    columns: 3
  Apps:
    style: row
    columns: 3
  Infrastructure:
    style: row
    columns: 3
