title: Homelab
description: Local service dashboard
theme: dark
color: slate
headerStyle: boxedWidgets
statusStyle: dot
target: _blank
disableUpdateCheck: true
hideVersion: true
disableIndexing: true
showStats: false
background:
  image: /images/background.jpg
  brightness: 50 # 0, 50, 75... see https://tailwindcss.com/docs/backdrop-brightness

layout:
  Inference:
    style: row
    columns: 3
  Web Services:
    style: row
    columns: 3
  Infrastructure:
    style: row
    columns: 3
  Resources:
    style: row
    columns: 2
