- Resources:
    - Homepage Docs:
        href: https://gethomepage.dev/
        icon: mdi-book-open-variant
    - Homelab Repository:
        href: https://github.com/Darkkal/homelab
        icon: si-github
