- glances:
    url: http://glances:61208
{% if glances_password %}
    username: "{{ glances_username }}"
    password: "{{ glances_password }}"
{% endif %}
    version: 4
    cpu: true
    mem: true
    cputemp: true
    uptime: true
    disk: /host
    expanded: true
    label: "{{ inventory_hostname }}"
- search:
    provider: searxng
    url: http://searxng.local
    target: _blank
- datetime:
    text_size: xl
    format:
      timeStyle: short
      hour12: false
