[Unit]
Description=KoboldCPP AI Inference
After=network-online.target

[Container]
Image=ghcr.io/lostruins/koboldcpp:latest
ContainerName=koboldcpp
Network={{ network_name }}
AddDevice=nvidia.com/gpu=all
Volume={{ model_dir }}:/models:Z
Environment=KCPP_DONT_TUNNEL=true
Environment=KCPP_MODEL=/models/{{ kobold_roleplay_model }}
{% if kobold_roleplay_model_mmproj is defined and kobold_roleplay_model_mmproj %}
Environment=KCPP_MMPROJ=/models/{{ kobold_roleplay_model_mmproj }}
{% endif %}
Environment=KCPP_ARGS=--usecuda{% if kobold_use_mtp is defined and kobold_use_mtp %} --usemtp{% endif %} --routermode --multimodal --admin --admindir /models --autounload {{ auto_unload_seconds }} --gpulayers {{ gpu_layers }} --contextsize {{ context_size }} --port {{ kobold_port }} --host 0.0.0.0{% if kobold_api_key is defined and kobold_api_key %} --api_auth_key {{ kobold_api_key }}{% endif %}

[Service]
Restart=always
