[Unit]
Description=Playwright Browserless Scraping Service
After=network-online.target

[Container]
ContainerName=playwright
Image=ghcr.io/browserless/chrome:latest
AutoUpdate={{ playwright_autoupdate | default('registry') }}
Network={{ network_name }}
PublishPort={{ playwright_port | default(3004) }}:3000

[Service]
Restart=always

[Install]
WantedBy=default.target
