use_default_settings: true
server:
  secret_key: "{{ searxng_secret_key }}"
  limiter: false
  image_proxy: true
search:
  safe_search: 0
  autocomplete: ""
  backend: "searx"
  formats:
    - html
    - json
