[Unit]
Description=SillyTavern Roleplay UI
After=network-online.target

[Container]
Image=ghcr.io/sillytavern/sillytavern:latest
ContainerName=sillytavern
Network={{ network_name }}
Volume={{ st_data_dir }}:/home/node/app/config:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
