[Unit]
Description=SillyTavern Roleplay UI
After=network-online.target

[Container]
Image=ghcr.io/sillytavern/sillytavern:latest
AutoUpdate={{ sillytavern_autoupdate | default('registry') }}
ContainerName=sillytavern
Network={{ network_name }}
PublishPort={{ sillytavern_port | default(8000) }}:8000
{% if sillytavern_api_key is defined and sillytavern_api_key %}
Environment=SILLY_TAVERN_API_KEY={{ sillytavern_api_key }}
{% endif %}
Volume={{ st_data_dir }}/config:/home/node/app/config:Z
Volume={{ st_data_dir }}/data:/home/node/app/data:Z
Volume={{ st_data_dir }}/plugins:/home/node/app/plugins:Z
Volume={{ st_data_dir }}/extensions:/home/node/app/public/scripts/extensions/third-party:Z

Label=homepage.group="Web Services"
Label=homepage.name=SillyTavern
Label=homepage.icon=sillytavern.png
Label=homepage.href=https://sillytavern.home
Label=homepage.description="LLM Roleplay"

[Service]
Restart=always

[Install]
WantedBy=default.target
