---
log:
  level: info
  job_level: info

runner:
  file: /data/.runner
  capacity: {{ forgejo_runner_capacity }}
  timeout: {{ forgejo_runner_timeout }}
  shutdown_timeout: {{ forgejo_runner_shutdown_timeout }}
  insecure: false
  fetch_timeout: {{ forgejo_runner_fetch_timeout }}
  report_interval: {{ forgejo_runner_report_interval }}
  default_labels:
{% for label in forgejo_runner_labels %}
    - {{ label | to_json }}
{% endfor %}

cache:
  enabled: true
  dir: /data/cache
  host: 0.0.0.0
  port: 0
  proxy_port: 0

container:
  network: ""
  enable_ipv6: false
  privileged: false
  valid_volumes: []
  docker_host: "unix:///run/user/{{ forgejo_runner_uid }}/podman/podman.sock"
  workdir_parent: "{{ forgejo_runner_workdir }}"
  force_pull: false
  force_rebuild: false

host:
  workdir_parent: "{{ forgejo_runner_workdir }}"

server:
  connections:
    forgejo:
      url: "{{ forgejo_runner_instance_url }}"
      uuid: "{{ forgejo_runner_uuid }}"
      token: "{{ forgejo_runner_token }}"
      labels:
{% for label in forgejo_runner_labels %}
        - {{ label | to_json }}
{% endfor %}
