[Unit]
Description=SillyTavern Roleplay UI
After=network-online.target

[Container]
Image=ghcr.io/sillytavern/sillytavern:latest
ContainerName=sillytavern
Network=${NETWORK_NAME}
Volume=${ST_DATA_DIR}:/home/node/app/config:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
