# Automatic HTTPS is enabled for all sites below (no scheme in the site address).
# Local-only names (*.home) are served certificates from Caddy's internal CA
# (see https://caddyserver.com/docs/automatic-https#local-https), and HTTP is
# redirected to HTTPS automatically.
{
    local_certs
    skip_install_trust
}

sillytavern.home {
    reverse_proxy {{ sillytavern_upstream }}
}

forgejo.home {
    reverse_proxy {{ forgejo_upstream }}
}

llamaswap.home {
    reverse_proxy {{ llama_swap_upstream }}
}

openwebui.home {
    reverse_proxy {{ openwebui_upstream }}
}

swarmui.home {
    reverse_proxy {{ swarmui_upstream }}
}

homepage.home {
    reverse_proxy {{ homepage_upstream }}
}

glances.home {
    reverse_proxy {{ glances_upstream }}
}

searxng.home {
    reverse_proxy {{ searxng_upstream }}
}

piclaw.home {
    reverse_proxy {{ piclaw_upstream }}
}

uptrace.home {
    reverse_proxy {{ uptrace_upstream }}
}

adguard.home {
    reverse_proxy {{ adguardhome_upstream }}
}

