[Unit]
Description=Publish %i via mDNS
Requires=avahi-daemon.service
After=avahi-daemon.service network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c "exec /usr/bin/avahi-publish -a -R %i $$(hostname -I | cut -d' ' -f1)"
Restart=on-failure

[Install]
WantedBy=multi-user.target
